Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1

psycopg2-binary==2.9.12

pillow==12.2.0
pymupdf==1.28.2
openpyxl==3.1.5

paddleocr==3.7.0
paddlepaddle==3.2.0

ollama==0.6.2
pydantic==2.13.5
python-dotenv==1.2.2
RapidFuzz==3.14.6
joblib==1.5.3
xgboost==3.3.0
pandas==3.0.3
scikit-learn==1.9.0